@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #e8e8e8;
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}
